*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-oauth-sd-jwt-vc.xml
package-lock.json
report.xml
!requirements.txt

# Ignore output of examples except for specification.yml
examples/*/kb_jwt_*
examples/*/sd_jwt_*
examples/*/user_claims.json
examples/*/verified_contents.json
examples/*/disclosures.md